nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-inline: 30px;
    box-shadow: 0px 0px 16px rgb(187, 187, 187);

}
.link{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.item-counter{
    position: relative;
}
.count{
    position: absolute;
    top: -10px;
    left: 15px;
    color: white;
    display: grid;
    place-items: center;
    width: 20px;
    height: 20px;
    background-color: rebeccapurple;
    border-radius: 50px;
    font-size: 14px;
}